<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>HTML</title>
    <style>
      table {
        width: 100%;
      }
      table, th, td {
        border: 1px solid #bcbcbc;
      }
    </style>
  </head>
  <body>
    <table>
      <caption>Lorem</caption>
      <thead>
        <tr>
          <th></th>
          <th>Ipsum</th>
          <th>Ipsum</th>
          <th>Ipsum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Ipsum</th>
          <td>Dolor</td>
          <td>Dolor</td>
          <td rowspan="2">Dolor</td>
        </tr>
        <tr>
          <th>Ipsum</th>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
        <tr>
          <th>Ipsum</th>
          <td>Dolor</td>
          <td>Dolor</td>
          <td>Dolor</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Table Foot</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
